html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.footer-bottom {
    margin-top: auto;
    /* This pushes the footer to the bottom */
}
.red-button {
    background: #dc3545;
    color: #fff;
    padding: 8px 20px !important;
    display: inline-block;
}

.p-150 {
    padding-left: 150px;
    padding-right: 150px;
}
